<ion-view view-title="Documentos del Vehículo">
    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="documento.soat">SOAT</ion-checkbox>
            <div ng-show="documento.soat" class="list list-inset">
                <label class="item item-input item-stacked-label input-bottom">
                    <span>Fecha de Expedición</span>
                    <input type="date" name="fechaNacimiento" ng-model="documento.fechaExpedicionSoat">
                </label>
                <label class="item item-input item-stacked-label input-bottom">
                    <span>Fecha de Vencimiento</span>
                    <input type="date" name="fechaNacimiento" ng-model="documento.fechaVencimientoSoat">
                </label>
            </div>
            <ion-checkbox ng-model="documento.tecnomecanica">Tecnomecánica</ion-checkbox>
            <div ng-show="documento.tecnomecanica" class="list list-inset">
                <label class="item item-input item-stacked-label input-bottom">
                    <span>Fecha de Expedición</span>
                    <input type="date" name="fechaNacimiento" ng-model="documento.fechaExpedicionTecnomecanica">
                </label>
                <label class="item item-input item-stacked-label input-bottom">
                    <span>Fecha de Vencimiento</span>
                    <input type="date" name="fechaNacimiento" ng-model="documento.fechaVencimientoTecnomecanica">
                </label>
            </div>
            <ion-checkbox ng-model="documento.targetaPropiedad">Tergeta de propiedad</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>
