<ion-view view-title="Gremio de Conductores">
    <ion-content>
        <div ng-repeat="conductor in listaConductores">
            <div class="item item-avatar">
                <img src="http://dev.viajaseguro.co{{conductor.imagen}}">
                <h2>{{conductor.nombres }} {{conductor.apellidos}}</h2>
                <p>Identificación: {{conductor.identificacion}}</p>
                <p>Telefono: {{conductor.telefono}}</p>
            </div>
        </div>
        <div ng-controller="TimerCtrl"></div>
    </ion-content>
</ion-view>