<ion-view view-title="Gremio de Conductores">
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
            <div class="item item-avatar">
                <img ng-src="img/ionic.png">
                <h2>Nombre del conductor</h2>
            </div>
        </div>
    </ion-content>
</ion-view>