<div class="bar bar-header bar-positive">
    <h1 class="title">Inicio de sesion</h1>
</div>
<div class="content has-header padding" style="padding-top:10%;">
    <form name="formLogin">
        <div class="list list-inset">
            <label class="item item-input padding">
                <input type="text"  name="usuario" placeholder="Nombre de usuario" ng-model="usuario.nombreUsuario" ng-required="true">
            </label>
            <span class="assertive" 
                  ng-show="!formLogin.usuario.$pristine && formLogin.usuario.$error.required">
                Campo Obligatorio
            </span>
            <label class="item item-input padding">
                <input type="password" name="contrasena" placeholder="Contraseña" ng-model="usuario.contrasena" ng-required="true">
            </label>
            <span class="assertive" 
                  ng-show="!formLogin.contrasena.$pristine && formLogin.contrasena.$error.required">
                Campo Obligatorio
            </span>
        </div>
    <button class="button button-block button-positive" ng-click="login()" ng-disabled="formLogin.$invalid">Ingresar</button>
    </form>
    <div class="center">
        <a href="#/registrar">
            <span>Registrarse</span>
        </a>
    </div>
</div>