<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="volver()"></button>
    <h1 class="title">Registrar Conductor</h1>
</ion-header-bar>
<ion-content>
    <form name="formConductor">
        <div class="list list-inset">
            <label class="item item-input input-bottom">
                <i class="icon ion-card placeholder-icon"></i>
                <input 
                       type="number" 
                       name="docuento" placeholder="Identificación"  ng-model="conductor.numeroDocumento" ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.docuento.$pristine && formConductor.docuento.$error.required">
                    Campo Obligatorio
                </span>
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" name="nombre" placeholder="Nombres" ng-model="conductor.nombre" ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.nombre.$pristine && formConductor.nombre.$error.required">
                    Campo Obligatorio
                </span>
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" name="apellidos" placeholder="Apellidos" ng-model="conductor.apellidos" ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.apellidos.$pristine && formConductor.apellidos.$error.required">
                    Campo Obligatorio
                </span>
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-android-pin placeholder-icon"></i>
                <input type="text" name="direccion" placeholder="Dirección" ng-model="conductor.direccion" ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.direccion.$pristine && formConductor.direccion.$error.required">
                    Campo Obligatorio
                </span>
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                <input type="number" name="telefono" placeholder="Telefono" ng-model="conductor.telefono" ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.telefono.$pristine && formConductor.telefono.$error.required">
                    Campo Obligatorio
                </span>
            </label>
            <label class="item item-input input-bottom">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" name="correo" placeholder="Correo" ng-model="conductor.correo" ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.correo.$pristine && formConductor.correo.$error.required">
                    Campo Obligatorio
                </span>
                <span class="assertive" 
                  ng-show="!formConductor.correo.$pristine && formConductor.correo.$error.email">
                    Correo Inválido
                </span>
            </label>
            <label class="item item-input item-stacked-label input-bottom">
                <span>Fecha de Nacimiento</span>
                <input type="date" name="fechaNacimiento" placeholder="Fecha de Nacimiento" ng-model="conductor.fecha"
                       ng-required="true">
                <span class="assertive" 
                  ng-show="!formConductor.fechaNacimiento.$pristine && formConductor.fechaNacimiento.$error.required">
                    Campo Obligatorio
                </span>
            </label>
            <button 
                    class="button button-block button-positive" 
                    ng-click="registarConductor()" ng-disabled="formConductor.$invalid">Registrar
            </button>
        </div>
    </form>
</ion-content>
