<ion-view view-title="Registrar Vehiculo">
    <ion-content>
        <form name="formVehiculo">
          <div class="list list-inset">
                <label class="item item-input input-bottom">
                    <i class="icon ion-card placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Placa:</span>
                    <input type="text" name="placa"  ng-model="vehiculo.placa" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-car placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Modelo:</span>
                    <input type="text" name="modelo" ng-model="vehiculo.modelo" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-person placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Conductor:</span>
                    <input type="text" name="conductor" ng-model="vehiculo.conductor_id" ng-required="true" readonly>
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-image placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Foto:</span>
                    <input type="text" name="foto" ng-model="vehiculo.foto">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-android-color-palette placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Color:</span>
                    <input type="text" name="color" ng-model="vehiculo.color" ng-required="true">
                </label>
                <label class="item item-input input-bottom">
                    <i class="icon ion-ios-people placeholder-icon"></i>
                    &nbsp;
                    <span class="input-label">Cupo:</span>
                    <input type="number" name="cupo" ng-model="vehiculo.cupos" ng-required="true">
                </label>
                <button
                    class="button button-block button-positive"
                    ng-click="registarActualizar()" ng-disabled="formVehiculo.$invalid">Registrar
                </button>
            </div>
        </form>
        <div ng-controller="TimerCtrl"></div>
    </ion-content>
</ion-view>
