<ion-view view-title="Registar Conductor">
    <ion-content>
        <form name="formConductor">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Número de Cedula</span>
                    <input type="number" placeholder="00000000"  ng-model="conductor.numeroDocumento">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombres:</span>
                    <input type="text" placeholder="John Alexander Perez" ng-model="conductor.nombre">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Placa del Vehiculo:</span>
                    <input type="text" placeholder="ABC 123" ng-model="conductor.placa">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Modelo:</span>
                    <input type="number" placeholder="2015" ng-model="conductor.modelo">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Color del Vehículo:</span>
                    <input type="text" placeholder="Rojo" ng-model="conductor.colorVehiculo">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Foto:</span>
                    <input type="text" placeholder="ABC 123" ng-model="conductor.foto">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="registarConductor()">Registrar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
