/* Empty. Add your own CSS if you like */
.center{
    text-align:center;
}

.input-bottom{
    margin-bottom:0%;
}

.padding-button{
    padding-top: 25%;
    padding-bottom: 25%;
}

.padding-notificacion{
    text-align: right;
}

.card{
    box-shadow: 0 1px 3px rgba(214, 35, 35, 0.3);
}